@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500&display=swap");

:root {
  font-family: "Space Grotesk", system-ui, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: #eaf2ff;
  background-color: #0c1118;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #0c1118;
}

img, svg {
  display: block;
  max-width: 100%;
}

button, input {
  font-family: inherit;
}
